/* Filtros de acordeón personal */
function filterDir(fields){
	var where = "";
	$(".inics.letra").removeClass("active");
	if(typeof fields == "string"){
		where = "&inic="+fields;
		$("#inic_" + fields).addClass("active");
		$("#nombre").val("");
	}
	else{
		for(var i = 0; i < fields.length; i++){
			where = where + ($("#"+fields[i]).val() != "" ? ("&" + fields[i] + "=" + $("#"+fields[i]).val()) : "");
		}
	}
	$.ajax({
		url: '<%= request.fullpath.include?("academico") ? personal_academico_path: personal_administrativo_path %>.js?offset=0' + where,
		success: function(){}
	});
}

function clean(){
	$(".inics.letra").removeClass("active");
	$("#nombre").val("");
	$.ajax({
		url: '<%= request.fullpath.include?("academico") ? personal_academico_path: personal_administrativo_path %>.js?offset=0',
		success: function(){
			$("#busqueda").html("");
			$("#c_l").html("");
			$("#c_r").html("");
			$("#separadores").html("");
		}
	});
	
}

	$.ajax({
		url: 'https://www.colmex.mx/directorio-academico.json?conds[centro]=cei&<%= request.GET.map{|k,v| "#{k.to_s == "offset" ? k : ("conds[" + k + "]")}=#{v}" }.join("&") %>',
		success: function(result){
			// Construcción acordeón
			var personal_html = '<div class="uk-accordion" id="acordeon">';
			for(var i = 0; i < result["profs"].length; i++){
				personal_html = personal_html + '<div class="uk-accordion-title uk-grid uk-grid-small">' +
						'<div class="uk-width-1-2" style="text-align:left;">' +
							'<h3 class="nombre rosa-light">' + result["profs"][i]["nombre"] + '</h3>' +
						'</div>' +
						'<div class="uk-width-1-2" style="text-align:right; padding-right:25px;">' +
							'<h3 class="info-acordeon"><%= t(".info_mas_html") %></h3>' +
						'</div>' +
						'</div>' +
							'<div class="uk-accordion-content">' +
								'<div class="uk-grid uk-grid-medium uk-margin-small-bottom">' +
									'<div class="uk-width-large-1-5 uk-width-medium-1-5 uk-width-small-1-5 uk-text-center">' +
										'<img src="/persona.jpg" class="uk-border-rounded" alt="Foto Académico">' +
									'</div>' +
									'<div class="uk-width-large-4-5 uk-width-medium-4-5 uk-width-small-4-5 uk-text-left uk-text-break">' +
										'<div class="uk-grid uk-grid-medium uk-margin-small-bottom">' +
											'<div class="uk-width-1-2 col-datos">' +
												'<p><span style="font-weight:700;"><%= t(".correo") %> </span><a class="uk-link" href="mailto:' + result["profs"][i]["correo"] + '">' + result["profs"][i]["correo"] + '</a></p>' +
												'<p><span style="font-weight:700;"><%= t(".telefono") %></span> <span>+(52) 55 5449 3000</span></p>' +
												'<p><span style="font-weight:700;"><%= t(".extension") %></span> <span>' + result["profs"][i]["extension"] + '</span></p>' +
											'</div>' +
											'<div class="uk-width-1-2 col-datos">' +
												(result["profs"][i]["sitio"] != "" ? ('<p><span style="font-weight:700;"><%= t(".sitio") %> </span><a class="uk-link" href="' + result["profs"][i]["sitio"] + '" target="_blank">' + result["profs"][i]['sitio'].substring(0,20) + (result["profs"][i]["sitio"].length > 20 ? "..." : "") + '</a></p>') : "") +
												(result["profs"][i]["viaf"] != "" ? ('<p><span style="font-weight:700;">VIAF: </span><span>' + result["profs"][i]["viaf"].split(/ *\/ */)[0] + '</span></p>') : "") +
												(result["profs"][i]["orcid"] != "" ? ('<p><span style="font-weight:700;">ORCID: </span><span>' + result["profs"][i]["orcid"].split(/ *\/ */)[0] + '</span></p>') : "") +
												(result["profs"][i]["isni"] != "" ? ('<p><span style="font-weight:700;">ISNI: </span><span>' + result["profs"][i]["isni"].split(/ *\/ */)[0] + '</span></p>') : "") +
												(result["profs"][i]["cvu"] != "" ? ('<p><span style="font-weight:700;">CVU-COLMEX: </span><span>' + result["profs"][i]["cvu"].split(/ *\/ */)[0] + '</span></p>') : "") +
											'</div>' +
										'</div>' +
										'<h5><%= t("." + @t_a) %> <span style="font-weight:300;">' + result["profs"][i]["temas_" + ("<%= params[:locale] %>" == "es" ? "esp" : "ing")] + '</span></h5>' +
										'<h5><%= t("." + @p_s) %> <span style="font-weight:300;"><%= "Publicaciones" %></span></h5>' +
									'</div>' +
								'</div>' +
							'</div>';
			}
			$("#busqueda").html(personal_html + '</div>');
			var accordion = UIkit.accordion(UIkit.$("#acordeon"), {showfirst: false, collapse: false});
			accordion.update();
			$("#acordeon").on("toggle.uk.accordion",function(event,active,toggle,content){toggle.find(".info-acordeon").html(active ? '<%= t(".info_menos_html") %>' : '<%= t(".info_mas_html") %>');});

		//Construcción paginado
			var pags_html = (result["pags"] > 1 ? '<div class="numeros-div" id="sep-ant"><a class="numeros" href="<%= (request.fullpath.include?("academico") ? personal_academico_path : personal_administrativo_path) + "?offset=0&" + request.GET.except(:offset).map{|k,v| "#{k}=#{v}"}.join("&") %><" data-remote="true"><i class="fa fa-angle-double-left flechas-num"></i></a></div><div class="numeros-div" id="sep-ant"><a class="numeros" href="<%= request.fullpath.include?("academico") ? personal_academico_path : personal_administrativo_path %>?offset=' + (parseInt(result["offset"]) - 1 < 0 ? 0 : parseInt(result["offset"]) - 1) + '<%= request.GET.except(:offset).map{|k,v| "#{k}=#{v}"}.join("&") %>" data-remote="true"><i class="fa fa-angle-left flechas-num"></i></a></div>' : "");
			for(var i = 0; i < result["pags"]; i++){
				pags_html = pags_html + '<div class="numeros-div"><a class="numeros' + (result["offset"] == i.toString() ? ' active' : '') + '" href="<%= request.fullpath.include?("academico") ? personal_academico_path : personal_administrativo_path %>?offset=' + i + '<%= request.GET.except(:offset).map{|k,v| "#{k}=#{v}"}.join("&") %>" data-remote="true">' + (i + 1) + '</a></div>';	
			}
			pags_html = pags_html + (result["pags"] > 1 ? '<div class="numeros-div" id="sep-nxt"><a class="numeros" href="<%= request.fullpath.include?("academico") ? personal_academico_path : personal_administrativo_path %>?offset=' + (parseInt(result["offset"]) + 1 >= parseInt(result["pags"]) ? (parseInt(result["pags"]) - 1) : (parseInt(result["offset"]) + 1)) + '<%= request.GET.except(:offset).map{|k,v| "#{k}=#{v}"}.join("&") %>" data-remote="true"><i class="fa fa-angle-right flechas-num"></i></a></div><div class="numeros-div" id="sep-nxt"><a class="numeros" href="<%= (request.fullpath.include?("academico") ? personal_academico_path : personal_administrativo_path) %>?offset=' +( parseInt(result["pags"]) - 1) + '<%= request.GET.except(:offset).map{|k,v| "#{k}=#{v}"}.join("&") %>" data-remote="true"><i class="fa fa-angle-double-right flechas-num"></i></a></div>' : "");
			$("#separadores").html(pags_html);
		}
	});
