
	<div class="row" id="div_footer"> <!-- Fila para footer -->
		<!-- <div class="col-md-12" id="div_footer">  <!-- Columnas para footer -->
			<div class="col-xs-12 col-md-2" id="footer_izq">
				<ul class="links">
					<li><a href="<%= sobre_path %>"><%= t('.footer_l1') %></a></li>
					<li><a href="#"><%= t('.footer_l2') %></a></li>
					<li><a href="#"><%= t('.footer_l3') %></a></li>
					<li><a href="#"><%= t('.footer_l4') %></a></li>
					<li><a href="#"><%= t('.footer_l5') %></a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-8" id="footer_centro">
				<div class="row">
					<div class="col-xs-6" id="f_logo_r">
						<img class="img_footer" src="/img/logo-cei-bco.svg">
					</div>
					<div class="col-xs-6" id="f_logo_l">
						<img class="img_footer" src="/img/logo-colmex-bco.svg">
					</div>
				</div>
				<%= link_to(image_tag(image_url("creative-commons.png"), :id => "img_cc"), "https://creativecommons.org/licenses/by-nc-nd/4.0/", :target => "_blank") %>
				<p><%= t('.copyright') %>, Centro de Estudios Internacionales, El Colegio de México A.C. © <%= Date.current().year %><br>
<% if false %>
	Camino al Ajusco número 20, Colonia Pedregal de Santa Teresa, C.P. 10740 México, Ciudad de México<br>
<% end %>
	Carretera Picacho Ajusco 20, Col. Ampliación Fuentes del Pedregal, C.P. 14110 Tlalpan, Ciudad de México

	Tel.: +52 55 54493000</p>

			</div>
			<div class="col-xs-12 col-md-2" id="footer_der">
				<ul class="links">
					<li><a href="#"><%= t('.footer_r1') %></a></li>
					<li><a href="#"><%= t('.footer_r2') %></a></li>
					<li><a href="#"><%= t('.footer_r3') %></a></li>
					<li><a href="#"><%= t('.footer_r4') %></a></li>
					<li><a href="#"><%= t('.footer_r5') %></a></li>
				</ul>
			</div>
		<!-- </div> <!-- Cierre de columnas para footer -->

	<div class="col-xs-12 col-md-12" id="redes_footer"> <!-- Columnas para redes sociales en footer-->
			<ul class="botones_footer">
				<a target="_blank" href="https://www.facebook.com/ceicolmex/">
					<img class="img_net" src="/img/fb-cei-bco.svg">
				</a>
				<a target="_blank" href="https://twitter.com/CEIColmex">
					<img class="img_net" src="/img/tw-cei-bco.svg">
				</a>
			</ul>

			<div id="boton-top" onclick="regresarArriba()">
				<%= link_to image_tag(image_url('top.png'), :class => "leave_img") + image_tag("top-hover.png", :class => "hover_img"), "#" %>
			</div>
		</div> <!-- Cierre de columnas para redes sociales en footer -->

	</div> <!-- Cierre de fila para footer -->
</div> <!-- Cierre del container-fluid -->
