<div class="container-fluid" id="header">

	<% if params.key?(:locale) %>
		<% x = 1 %>
		<% if params[:locale] == "en" %>
			<% clase_en = "activo" %>
			<% clase_es = "inactivo" %>
		<% else %>
			<% clase_en = "inactivo" %>
			<% clase_es = "activo" %>
		<% end %>
	<% else %>
		<% params[:locale] = "es" %>
	<% end %>

	<div class="row">

		<nav class="navbar navbar-default">
			<div class="container-fluid" id="contenedor_nav">

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="navbar-collapse" id="barra_nav">
			    <ul class="nav navbar-nav reajustable">
						
						<li class="nav_opciones idioma" id="idioma-top"><%= link_to (params[:locale] == "es" ? "English" : "Español"), {:controller => controller_name, :action => action_name, :locale => (params[:locale] == "en" ? "es" : "en" ), :condicion => (params[:condicion] if action_name == "resultados_busqueda")}, :class => "inactivo" , :id => 'idioma_en' %></li>
						
<% if false %>
						<li class="nav_opciones idioma" id="idioma-top"><%= link_to (params[:locale] == "es" ? "English" : "Español"), {:controller => "principal", :action => "proximamente", :locale => "es", :condicion => (params[:condicion] if action_name == "resultados_busqueda")}, :class => "inactivo" , :id => 'idioma_en' %></li>
<% end %>
						<li class="nav_opciones" id="logo-main"><a href="<%= main_path %>"><%= image_tag("cei.png") %></a></li>
						<li class="nav_opciones mail"><a href="http://portal.office.com" target="_blank"><img src="/img/mail-cei.svg"><span class="borrable"><%= t('navbar.mail') %></span></a></li>
						<li class="nav_opciones intranet"><a href="http://intranet.colmex.mx/" target="_blank"><img src="/img/intranet-cei.svg"><span class="borrable"><%= t('navbar.intranet') %></span></a></li>
						
						<li class="nav_opciones idioma" id="idioma-small-scroll"><%= link_to (params[:locale] == "es" ? "English" : "Español"), {:controller => controller_name, :action => action_name, :locale => (params[:locale] == "en" ? "es" : "en" ), :condicion => (params[:condicion] if action_name == "resultados_busqueda")}, :class => "inactivo" , :id => 'idioma_en' %></li>
						<%if false %>
						<li class="nav_opciones idioma" id="idioma-small-scroll"><%= link_to (params[:locale] == "es" ? "English" : "Español"), {:controller => controller_name, :action => action_name, :locale => "es", :condicion => (params[:condicion] if action_name == "resultados_busqueda")}, :class => "inactivo" , :id => 'idioma_en' %></li>
						<% end %>
			
						<li class="mostrable-chico"><a href="#menu" class="uk-navbar-toggle" data-uk-offcanvas></a></li>
			    </ul>


<div id="header-links">
<ul class="botones"> <!-- Opciones del menú -->
				<li class="dropdown" id="dropdown1">
		      <a class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b1') %></span></a>
		        <ul class="dropdown-menu">
							<li><a href="<%= sobre_path %>"><%= t('.opcion1_b1') %></a></li>
							<li><a href="<%= contacto_path %>"><%= t('.opcion2_b1') %></a></li>
						</ul>
				<li class="dropdown" id="dropdown2">
		      <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b2') %></span></a>
		        <ul class="dropdown-menu">
							<li><a href="<%= pap_path %>"><%= t('.opcion1_b2') %></a></li>
							<li><a href="<%= ri_path %>"><%= t('.opcion2_b2') %></a></li>
							<li><a href="<%= cp_path %>"><%= t('.opcion3_b2') %></a></li>
							<li><a href="<%= cursos_path %>"><%= t('.opcion4_b2') %></a></li>
							<li><a href="<%= convocatorias_path %>"><%= t('.opcion5_b2') %></a></li>
							<li><a href="<%= aspirantes_path %>"><%= t('.opcion6_b2') %></a></li>
		        </ul>
		    </li>

				<li class="dropdown" id="dropdown3">
		      <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b3') %></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="<%= personal_academico_path %>"><%= t('.opcion1_b3') %></a></li>
		          <li><a href="<%= personal_administrativo_path %>"><%= t('.opcion2_b3') %></a></li>
		        </ul>
		    </li>

				<li class="dropdown" id="dropdown3">
		      <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b4') %></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="<%= foro_path %>"><%= t('.opcion1_b4') %></a></li>
		          <li><a href="<%= agora_path %>"><%= t('.opcion2_b4') %></a></li>
		        </ul>
		    </li>

				<li class="dropdown" id="dropdown4">
		      <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b5') %></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="#"><%= t('.opcion1_b5') %></a></li>
		          <li><a href="#"><%= t('.opcion2_b5') %></a></li>
		        </ul>
		    </li>

				<li class="no-dropdown"><a href="#"><span><%= t('.boton6') %></span></a></li>

				<% idioma = "<span style=\"color:#993366;\">" + (params[:locale] == "es" ? "English" : "Español") + "</span>" %>
				<li class="no-dropdown"><%= link_to raw(idioma), {:controller => controller_name, :action => action_name, :locale => (params[:locale] == "en" ? "es" : "en" ), :condicion => (params[:condicion] if action_name == "resultados_busqueda")}  %></li>
				
<% if false %>
				<li class="no-dropdown"><a href="<%= soon_path %>"><span style="color:#993366;"><%= (params[:locale] == "es" ? "English" : "Español") %></span></a></li>
<% end %>
			</ul> <!-- Cierre del menú -->
</div>

					<% if false %>
			    <form class="navbar-form navbar-left" id="forma-search" method="get" action="/principal/resultados_busqueda">
						<div role="search">
						<%= hidden_field_tag :locale, I18n.locale || default_locale %>
						<div class="form-group">
							<input type="text" class="form-control" id="forma-control" placeholder="" name="condicion">
						</div>
						<button type="submit" class="btn btn-default boton_lupa" name="Commit" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</div>
			    </form>
					<% end %>


			    <ul class="nav navbar-nav navbar-right">
						<li class="borrable">
							<a target="_blank" href="https://www.facebook.com/ceicolmex/">
								<img class="img_net" src="/img/fb-cei-color.svg">
							</a>
						</li>
						<li class="borrable">
							<a target="_blank" href="https://www.twitter.com/CEIColmex">
								<img class="img_net" src="/img/tw-cei-color.svg">
							</a>
						</li>
						<li class="mostrable"><a href="#menu" class="uk-navbar-toggle" data-uk-offcanvas></a></li>
			    </ul>
			  </div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div> <!-- Cierre de div row barra nav -->

	<div class="row" style="display:flex;"> <!-- Fila para logo -->
		<div class="col-xs-6 div_logo" id="h_logo_l"> <!-- Columnas para logo -->	
			<a href="https://www.colmex.mx/">
				<img src="/img/logo-colmex-color.svg" class="img_logo">
			</a>	
		</div> <!--Cierre de div columnas para logo -->
		<div class="col-xs-6 div_logo" id="h_logo_r"> <!-- Columnas para logo -->	
			<a href="<%= main_path %>">
				<img src="/img/logo-cei-color.svg" class="img_logo">
			</a>
		</div> <!--Cierre de div columnas para logo -->
	</div> <!-- Cierre de div fila para logo -->

	<div class="row"> <!-- Fila para menú -->
		<div class="col-md-12" id="div_menu"> <!-- Columnas para menu -->
			<ul class="botones"> <!-- Opciones del menú -->
				<li class="dropdown" id="dropdown1">
		      <a class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b1') %></span></a>
		        <ul class="dropdown-menu">
							<li><a href="<%= sobre_path %>"><%= t('.opcion1_b1') %></a></li>
							<li><a href="<%= contacto_path %>"><%= t('.opcion2_b1') %></a></li>
		        </ul>
		    </li>

				<li class="dropdown" id="dropdown2">
		      <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b2') %></span></a>
		        <ul class="dropdown-menu">
							<li><a href="<%= pap_path %>"><%= t('.opcion1_b2') %></a></li>
							<li><a href="<%= ri_path %>"><%= t('.opcion2_b2') %></a></li>
							<li><a href="<%= cp_path %>"><%= t('.opcion3_b2') %></a></li>
							<li><a href="<%= cursos_path %>"><%= t('.opcion4_b2') %></a></li>
							<li><a href="<%= convocatorias_path %>"><%= t('.opcion5_b2') %></a></li>
							<li><a href="<%= aspirantes_path %>"><%= t('.opcion6_b2') %></a></li>
		        </ul>
		    </li>

				<li class="dropdown" id="dropdown3">
		      <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b3') %></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="<%= personal_academico_path %>"><%= t('.opcion1_b3') %></a></li>
		          <li><a href="<%= personal_administrativo_path %>"><%= t('.opcion2_b3') %></a></li>
		        </ul>
		    </li>

				<li class="dropdown" id="dropdown3">
		      <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b4') %></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="<%= foro_path %>"><%= t('.opcion1_b4') %></a></li>
		          <li><a href="<%= agora_path %>"><%= t('.opcion2_b4') %></a></li>
		        </ul>
		    </li>

				<li class="dropdown" id="dropdown4">
		      <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('.texto_b5') %></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="#"><%= t('.opcion1_b5') %></a></li>
		          <li><a href="#"><%= t('.opcion2_b5') %></a></li>
		        </ul>
		    </li>

				<li class="no-dropdown"><a href="#"><span><%= t('.boton6') %></span></a></li>

			</ul> <!-- Cierre del menú -->
		</div> <!-- Cierre de columnas para menú -->
	</div> <!-- Cierre de div fila para menú -->

	<!-- Menu lateral -->
	<div id="menu" class="uk-offcanvas"> <!-- Offcanvas -->
		<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
			<ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
				<li class="uk-parent">
					<a href="#"><%= t('.texto_b1') %></a>
					<ul class="uk-nav-sub">
						<li><a href="<%= sobre_path %>" class="sublink"><%= t('.opcion1_b1') %></a></li>
          	<li><a href="<%= contacto_path %>" class="sublink"><%= t('.opcion2_b1') %></a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><%= t('.texto_b2') %></a>
					<ul class="uk-nav-sub">
						<li><a href="<%= pap_path %>" class="sublink"><%= t('.opcion1_b2') %></a></li>
          	<li><a href="<%= ri_path %>" class="sublink"><%= t('.opcion2_b2') %></a></li>
						<li><a href="<%= cp_path %>" class="sublink"><%= t('.opcion3_b2') %></a></li>
          	<li><a href="<%= cursos_path %>" class="sublink"><%= t('.opcion4_b2') %></a></li>
						<li><a href="<%= convocatorias_path %>" class="sublink"><%= t('.opcion5_b2') %></a></li>
						<li><a href="<%= aspirantes_path %>" class="sublink"><%= t('.opcion6_b2') %></a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><%= t('.texto_b3') %></a>
					<ul class="uk-nav-sub">
						<li><a href="<%= personal_academico_path %>" class="sublink"><%= t('.opcion1_b3') %></a></li>
          	<li><a href="<%= personal_administrativo_path %>" class="sublink"><%= t('.opcion2_b3') %></a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><%= t('.texto_b4') %></a>
					<ul class="uk-nav-sub">
						<li><a href="<%= foro_path %>" class="sublink"><%= t('.opcion1_b4') %></a></li>
          	<li><a href="<%= agora_path %>" class="sublink"><%= t('.opcion2_b4') %></a></li>
					</ul>
				</li>
				<li class="uk-parent">
					<a href="#"><%= t('.texto_b5') %></a>
					<ul class="uk-nav-sub">
						<li><a href="#" class="sublink"><%= t('.opcion1_b5') %></a></li>
          	<li><a href="#" class="sublink"><%= t('.opcion2_b5') %></a></li>
					</ul>
				</li>
				<li class="uk-parent"><a href="#"><%= t('.boton6') %></a></li>

				<% if false %>
				<li class="links-side" id="search-lat">
						<form class="navbar-form navbar-left" id="forma-busqueda-lat" method="get" action="/principal/resultados_busqueda">
						<div role="search">
						<%= hidden_field_tag :locale, I18n.locale || default_locale %>
						<div class="form-group">
							<input type="text" class="form-control" id="forma-control" placeholder="" name="condicion">
						</div>
						<button type="submit" class="btn btn-default boton_lupa" name="Commit" style="padding-left:5px;background-color:#7E3355;"><span class="glyphicon glyphicon-search" aria-hidden="true" style="color:#fff;"></span></button>
						</div>
			    </form>
				</li>
				<% end %>


				<li class="links-side">
					<ul class="ul-nav" style="width:183px;">
						<li><a target="_blank" href="https://www.facebook.com/ceicolmex/">
							<img class="img_net" src="/img/fb-cei-bco.svg">
						</a></li>
						<li><a target="_blank" href="https://twitter.com/CEIColmex">
							<img class="img_net" src="/img/tw-cei-bco.svg">
						</a></li>
			    </ul>
				</li>
			</ul>
		</div>
	</div>

</div>

<div class="container-fluid" id="resto-cuerpo">
  <div id="cuerpo">
