<% @title = t('.' + @rev) + " - " %>
<%= render 'principal/header' %>

<div class="uk-width-1-1 principal uk-block-large">
	<%= t('.' + @rev_t) %><br>
  <div class="uk-grid uk-grid-small uk-margin-large-top">
	  <div class="uk-width-1-4 uk-text-center-small uk-text-center-medium uk-text-left">
			<img src="<%= @imagen %>"style="padding:0 10px;">
	  </div>
		<div class="uk-width-3-4 pad-left">
			<h2 style="color:#B03856;"><%= t('.sobre') %></h2>
			<p style="margin:35px 0 0 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id ultricies metus, non facilisis lacus. Nullam rhoncus egestas convallis. Proin vel tellus vitae felis cursus bibendum. Etiam porta massa et libero malesuada ornare vel non lectus. Sed ultricies arcu vel massa convallis fringilla. Nullam sodales fermentum sem, congue gravida urna elementum sit amet. Mauris vitae consequat quam, a pretium ipsum.</p>
<p style="margin:35px 0;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vel cursus diam. Nunc ut sagittis augue. Mauris placerat, dui eget bibendum ultrices, tortor justo bibendum mauris, vitae dapibus lacus libero quis neque. Nullam lacinia lacus justo, et ultricies sem imperdiet ut. Vestibulum feugiat tristique mauris. Nunc at pharetra mi, non dictum lacus. Proin et aliquet lacus. Etiam ultrices sollicitudin dolor, ac convallis mauris placerat nec. Aenean molestie interdum dolor, vitae ornare felis rutrum non. Proin tincidunt enim ac urna vehicula facilisis. Aenean at volutpat massa, eu ultricies enim.
			</p>
			<div class="boton-info" id="boton-info-cursos"><a href="<%= @link %>" class="link-div" target="_blank"><%= t('.info') %></a></div>
		</div>


  </div>
</div>

<script>
$(document).ready(function(){
	$(window).resize(function(){
		//$("#vid-img-programas iframe").height($("#vid-img-programas iframe").width() * 9 / 16);
	});

	//$(window).trigger("resize");
});
</script>

<%= render 'principal/footer' %>
