<% @cursos.each do |c| %>
	<div class="uk-grid uk-grid-small">
		<div class="uk-width-1-5">
			<%= image_tag c.imagen.url %>
		</div>
		<div class="uk-width-4-5">
			<%= c.titulo.gsub(/<(h.)>/, '<\1 class="rosa-bold">').html_safe %>
			<% if false %>
			<p style="margin:45px 0;">El Centro de Estudios Internacionales de El Colegio de México los invita al "Curso de Verano 2018" que ofrecerá del 4 de junio al 6 de julio del presente año. El objetivo del Curso será analizar algunas de las tendencias actuales de la política, la economía y la cultura en México y el resto del mundo.</p>
			<% end %>
			<p>
				<% if c.fecha_i.present? %>
					<span class="rosa-bold">Inicio de clases:</span><%= c.fecha_i %><br>
				<% end %>
				<% if c.fecha_f.present? %>
					<span class="rosa-bold">Fin de clases:</span><%= c.fecha_f %><<br>
				<% end %>
<br>
				<% if c.fecha_ic.present? %>
				 <span class="rosa-bold">Inicio de convocatoria:</span><%= c.fecha_ic %><br>
				<% end %>
				<% if c.fecha_fc.present? %>
				 <span class="rosa-bold">Fin de convocatoria:</span><%= c.fecha_fc %><br>
				<% end %>
			</p>
			<% if c.descripcion.present? || !c.documento.url.include?("vacio.png") %>
			<div class="boton-info boton-info-cursos"><a href="<%= c.descripcion.present? ? curso_path(curso: c.titulo.gsub(/<.*?>/,'')) : c.documento.url %>" target="<%= c.descripcion.present? ? '' : '_blank' %>" class="link-div"><%= t('.info') %></a></div>
			<% end %>
		</div>
	</div>
<% end %>
