<% @title = (params[:locale] == "es" ? "Cursos" : "Special courses") + " - " %>
<%= render 'principal/header' %>

<div class="uk-width-1-1 principal-chica uk-block-large">
	<span class="titulo-grande txto-sub"><%= t('.cursos' ) %></span><br>
  <div class="uk-grid uk-grid-small uk-margin-large-top">
	  <div class="uk-width-small-1-1 uk-width-medium-2-5 uk-text-center-small uk-text-center-medium uk-text-left" id="menu-programas">
    <ul class="lista-links" id="lista-programas">
			<li><a href="#" class="link-sobre"><svg viewBox="0 0 34 34" class="icon-flecha"><use class="flecha-menu" xlink:href="#flecha-menu"></use></svg><span class="pad-link"><%= t('.verano') %></span></a></li>
			<li><a href="#" class="link-sobre"><svg viewBox="0 0 34 34" class="icon-flecha"><use class="flecha-menu" xlink:href="#flecha-menu"></use></svg><span class="pad-link"><%= t('.publicos') %></span></a></li>
			<li><a href="#" class="link-sobre"><svg viewBox="0 0 34 34" class="icon-flecha"><use class="flecha-menu" xlink:href="#flecha-menu"></use></svg><span class="pad-link"><%= t('.moocs') %></span></a></li>
    </ul>
	  </div>
	  <div class="uk-width-small-1-1 uk-width-medium-3-5" id="texto-programas">
			<h2 style="color:#B03856"><%= t('.presentacion') %></h2>
			<p>Texto de prueba</p>
		</div>

  </div>
</div>


<script>
$(document).ready(function(){
	$(window).resize(function(){
		$("#vid-img-programas iframe").height($("#vid-img-programas iframe").width() * 9 / 16);
	});

	$(window).trigger("resize");
});
</script>


<%= render 'principal/footer' %>
