<input type="text" name="keyword" id="keyword" value="<%= params[:keyword].present? ? params[:keyword] : '' %>" placeholder="Palabra clave" onchange="hideLink(null,'#index-panel','<%= panel_index_path(set: params[:set], offset: 0) %>',null,document.querySelector('#keyword').value,buildQuery(filteredParams('<%= params[:set] %>')))"><br>

<% @fields.each do |f| %>
	<span><%= @models.columns_hash[f[0].to_s].type %></span><br>
<% end %>

<script type="text/javascript">
	var pars = filteredParams("<%= params[:set] %>");
	for(var i in pars){
		$("#"+pars[i][0]).on("change",function(){
			hideLink(null,'#index-panel','<%= panel_index_path(set: params[:set], offset: 0) %>',null,$("#keyword")[0].value,buildQuery(pars));
		});
	}
</script>
