<input type="text" name="keyword" id="keyword" value="<%= params[:keyword].present? ? params[:keyword] : '' %>" placeholder="Palabra clave" onchange="hideLink(event,'#index-panel','<%= panel_index_path(set: params[:set], offset: 0) %>',null,document.querySelector('#keyword').value, null, null, true)"><br>

<% @fields.each do |f| %>
	<label><%= f[1] %></label><br>
	<% if @models.columns_hash[f[0].to_s].type == :text %>
		<input type="text" autocomplete="off" data-tipo="filtro" data-field="<%= f[0].to_s %>" data-op="like" onchange="hideLink(event,'#index-panel','<%= panel_index_path(set: params[:set], offset: 0) %>',null,document.querySelector('#keyword').value, this, null, true)"><br>
	<% elsif @models.columns_hash[f[0].to_s].type == :date %>
		<input type="text" autocomplete="off" class="fecha" data-tipo="filtro" data-field="<%= f[0].to_s %>" data-op="geq" onchange="hideLink(event,'#index-panel','<%= panel_index_path(set: params[:set], offset: 0) %>',null,document.querySelector('#keyword').value, this, null, true)"><br>
		<input type="text" autocomplete="off" class="fecha" data-tipo="filtro" data-field="<%= f[0].to_s %>" data-op="leq" onchange="hideLink(event,'#index-panel','<%= panel_index_path(set: params[:set], offset: 0) %>',null,document.querySelector('#keyword').value, this, null, true)"><br>
	<% else %>
	<span><%= @models.columns_hash[f[0].to_s].type %></span><br>
	<% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
	styleDatepickers();
});
</script>
